.content{
    background-color: #eae8e8;
    padding-top: 1px;

  
    margin-left: -8px;
    margin-right: -8px;
    
}
h2{
    font-size: medium;
    margin-left: 30px;
    font-weight: normal;
    color:#615e5e;
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

