

<form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">
    <label>Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="nombreField" required maxlength="50"/>
    <br/>
    <label>Descripción</label>
    <input type="text" name="descripcion" [(ngModel)]="descripcionField" required maxlength="150"/>
    <br/>
    <label>Valoración</label>
    <input type="range" name="valoracion" [(ngModel)]="valoracionField" required min="0" max="5"
    />
    <p>{{valoracionField}}</p>
    <input type="submit" value="Enviar" />
  </form>
  

